.section {
  background-color: #f7f2eb;
  padding: 40px 60px;
  height: 100%;
  border-radius: 12px;
}
.img-col,
.text-col {
  margin: 20px 0px;
}
.body {
  border-left: 2px solid #f7c27c;
  padding-left: 30px;
}

@media (max-width: 767px) {
  .section {
    padding: 20px;
  }
  .text-col,
  .img-col {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
.css-box-shadow {
  background: #000000;
  box-shadow: 500px 20px 100px rgba(0, 0, 0, 0.61) inset;
  -webkit-box-shadow: 500px 20px 100px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 500px 20px 100px rgba(0, 0, 0, 0.6) inset;
  color: white;
  text-align: start;
}
/* Tablet / màn hình vừa: 768px – 1199px */
@media (min-width: 768px) and (max-width: 950px) {
  .section {
    padding: 40px;
  }
  .text-col,
  .img-col {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
@media (min-width: 951px) and (max-width: 1049px) {
  .section {
    padding: 40px;
  }
  .body {
    padding-left: 15px;
  }
  .mission {
    margin-top: -80px;
  }
  .carousel-text {
    font-size: 16px;
  }
  .carousel-head {
    font-size: 36px;
  }
}
@media (min-width: 1050px) and (max-width: 1099px) {
  .section {
    padding: 40px;
  }
  .body {
    padding-left: 15px;
  }
  .mission {
    margin-top: -120px;
  }
  .carousel-text {
    font-size: 16px;
  }
  .carousel-head {
    font-size: 36px;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  .section {
    padding: 40px;
  }
  .body {
    padding-left: 15px;
  }
  .mission {
    margin-top: -150px;
  }
  .carousel-text {
    font-size: 18px;
  }
  .carousel-head {
    font-size: 38px;
  }
}
/* Desktop lớn: từ 1200px trở lên */
@media (min-width: 1200px) {
  .section {
    padding: 100px 60px 60px 120px;
  }
  .mission {
    margin-top: -200px;
  }
  .carousel-text {
    font-size: 20px;
  }
  .carousel-head {
    font-size: 40px;
  }
}
